<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>.:: Ubytovanie Podhájska ::.</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="Description" content="možnosť dovolenkového ubytovania" />
<meta name="author" content="Martin Takáč" />
<meta name="keywords"
	content="ubytovanie, obec Čechy, Nové Zámky, Podhájska, dovolenka, Mikroregión Termal" />
<link rel="shortcut icon" href="/obr/icon.ico" />
 
<link rel="icon" href="/obr/icon.ico" type="image/x-icon" />


<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="/subModal.css" />
<script type="text/javascript" src="/common.js"></script>
<script type="text/javascript" src="/subModal.js"></script>


</head>


  
<body>
	
	
 <div id="header">
    <div id="menu">
       <div id="menu_list"> 
        <a href="/">Úvod</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/cennik">Cenník</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/rezervacia">Rezervácia</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/obsadenost">Obsadenosť</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/fotogaleria">Fotogaléria</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/mapa">Mapa</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/cechy">Obec Čechy</a>
        <img src="/images/splitter.gif" class="splitter" alt="" />
        <a href="/kupalisko">Kúpalisko</a>
        </div>
    </div>
</div>	
<div id="logo">
      
      <table width="100%">
      <tr><td align="center"><img src="images/hlavicka.jpg" width="90%" height="148"/></td></tr>
      
      </table>
      
    </div>
    
    	
 
<div id="main">
 
 
 {{ content }}


</div>



<div id="footer" style="align:center">
  
 <div id="right_footer">
 
 <a href="http://ubytovanie-podhajska.com/?id=rezervacia">Kontakt</a>
 | 
 <a href="http://www.laurusgroup.eu/"> Developed by Laurus Group, s.r.o</a>
 |
 <a href="http://ubytovanie-podhajska.com/?id=partneri">Partneri</a>
 
 
 </div>
</div>
  
  </body></html>
